@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-color: 0, 0%, 12%;
    --bg-home-color: 210, 40%, 96%;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    user-select: none;
}

html,
body,
#app,
[page] {
    padding: 0 !important;
    @apply w-full h-full overflow-hidden;
    color: hsl(var(--text-color));
}


*::-webkit-scrollbar {
    background-color: #fff;
    width: 5px;
}

/* background of the scrollbar except button or resizer */
*::-webkit-scrollbar-track {
    background-color: #fff;
}

/* scrollbar itself */
*::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 1px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
*::-webkit-scrollbar-button {
    display: none;
}