@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@noction/vue-bezier/dist/style.css';

:root {
    --color-primary: 196, 49%, 55%;
    --color-secondary: 60, 100%, 67%;
    --app-bg-color: 0, 0%, 100%;
    --app-text-color: 0, 0%, 10%;
}

html,
body,
#app,
[page] {
    padding: 0 !important;
    @apply w-full h-full overflow-hidden;

    background-color: hsl(var(--app-bg-color));
    color: hsl(var(--app-text-color));
}

@media (prefers-color-scheme: dark) {
    :root {
        --app-bg-color: 0, 0%, 10%;
        --app-text-color: 0, 0%, 100%;
    }
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    user-select: none;
}

a {
    @apply hover:underline cursor-pointer
}

*::-webkit-scrollbar {
    background-color: hsla(var(--color-primary), 10%);
    width: 5px;
}

/* background of the scrollbar except button or resizer */
*::-webkit-scrollbar-track {
    background-color: hsla(var(--color-primary), 10%);
}

/* scrollbar itself */
*::-webkit-scrollbar-thumb {
    background-color: hsl(var(--color-primary));
    border-radius: 16px;
    border: 1px solid hsl(var(--color-primary));
}

/* set button(top and bottom of the scrollbar) */
*::-webkit-scrollbar-button {
    display: none;
}

::selection {
    background-color: hsla(var(--color-primary), 100%);
    color: hsla(var(--color-secondary), 100%);
}

.vfm--overlay {
    background-color: hsla(var(--app-text-color), 0.2) !important;
}